<br />
<div style="height: 50px;"></div>
<nav id="footer" class="navbar navbar-default navbar-inverse navbar-custom">
	<ul class="nav navbar-nav navbar-right" style="margin:0px;">
		<li id="about"><a href="/about"><%=l('About')%></a></li>
	</ul>
</nav>
