<option value=""> </option>
<!-- Updated Maps Feb 2019 -->
<!-- Lobby and Quickplay -->
<option data-grid="GRID_-_Canyon_Network_20190213.png" data-size="2720x2720" value="/maps/MWO/CONQ_-_Canyon_Network_20190213.png"><%=l('2019 Canyon Network Conquest')%></option>
<option data-grid="GRID_-_Canyon_Network_20190213.png" data-size="2720x2720" value="/maps/MWO/DOMI_-_Canyon_Network_20190213.png"><%=l('2019 Canyon Network Domination')%></option>
